.dashboard{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
    gap: var(--padding-small);
    height: 100vh;
    background-color: var(--background-color-main);
    background-color: aqua;
}