.list-item{
    list-style: none;
    padding: var(--padding-small);
    border: 1px solid var(--background-color-black);
    border-radius: var(--border-radius-extra-small);

    .item-link{
        text-decoration: none;
        color: var(--color-black);
    }
}

.list-dashboard {
    border: none;
    display: flex;
    gap: var(--padding-small);

    &:hover{
        background-color: var(--background-color-main);
    }
}